/*
 *  Node post component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-text-color-back: #fff;
@pxl-name-field-bg-color-left: @pxl-color-main;
@pxl-name-field-bg-color-right: @pxl-color-main;
@pxl-name-field-color: #fff;

@start-text-area: (100%/1.4);


// Mixins
// -------------------------


// General settings
// -------------------------
//
// full mode wrappers implemented in template
.node-post-page-wrapper {
  margin: 50px 0;
  width: 100%;

  .node-post-header {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .post-title {
      margin-bottom: 10px;
      font-family: @pxl-text-font-bold;
      font-size: 30px;
      color: @text-color;
      line-height: 1.1;
      text-align: center;
    }

    .post-heading {
      margin-bottom: 10px;
      font-family: @pxl-text-font;
      font-size: 17px;
      color: @text-color;
      line-height: 1.1;
      text-align: center;
    }

    .social-share {
      margin-bottom: 10px;
      text-align: center;

      .a2a_kit {
        display: inline-block;

        a {
          margin: 0;
          padding: 0 10px;
        }
        // see block-social.less
      }
    }
  }

  .node-post-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

}


//
// Node Post
.node.node-post {
  position: relative;
  margin: 0;
  padding-bottom: 140%;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: white;

  div.row {
    margin: 0;

    div.col-sm-12 {
      position:static;
      padding: 0;

      .field-name-field-image {
        img {
          width: 100%;
          height: auto;
        }
      }

      .field-name-field-your-name {
        position: absolute;
        bottom: 3%;
        right: @grid-gutter-width/2;
        padding: 0;

        .field-item {
          width: auto;
          font-family: @pxl-text-font-light;
          #pxl-mixins.font-size-responsive(14px, 12px);
          letter-spacing: 1px;
          line-height: 1.1;
          color: @text-color;
          white-space: nowrap;

          @media @mobile {
            font-size: 4vw;
          }
          @media @tablet {
            font-size: 12px;
          }
          @media @normal {
            font-size: 14px;
          }
          @media @wide {
            font-size: 16px;
          }
        }
      }

      .quote-wrapper {
        position: absolute;
        overflow: hidden;
        top: 75%;
        left: 5%;
        width: 90%;
        height: auto;
        font-family: @pxl-text-font-bold;
        #pxl-mixins.font-size-responsive(17px, 13px);

        @media @mobile {
          font-size: 4.5vw;
        }
        @media @tablet {
          font-size: 13px;
        }
        @media @normal {
          font-size: 17px;
        }
        @media @wide {
          font-size: 20px;
        }

        .field-name-field-quote {
          display: inline;

          .field-items {
            display: inline;

            .field-item {
              display: inline;
              color: @text-color;
              line-height: 1.1;
              text-align: left;
              #pxl-mixins.hyphenate(auto);
            }
          }
        }

        .post-claim {
          display: inline;
          color: @pxl-color-main;
          line-height: 1.1;
          text-align: left;
        }
      }

      .group-icons {
        position: absolute;
        bottom: (100 - @start-text-area);
        left: 0;
        width: 100%;
        padding: 5px 10px;
        font-family: @pxl-text-font-light;
        #pxl-mixins.font-size-responsive(16px, 12px);
        color: white;
        line-height: 1.1;
        text-align: right;
        #gradient.vertical(rgba(0,0,0,0.0), rgba(0,0,0,0.5), 0%, 100%);

        .field-name-rate-integration-1 {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          z-index: 100;

          .field-item {
            .rate-widget {
              .rating-score {
                display: inline-block;
                vertical-align: middle;
              }

              .rate-thumbs-up-btn-up {
                display: inline-block;
                overflow: hidden;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                text-indent: 100%;
                white-space: nowrap;
                background: url(../images/icon-herz-white.png) no-repeat center center / contain;
              }
            }

            &:hover {
              .rate-widget {
                .rate-thumbs-up-btn-up {
                  background: url(../images/icon-herz.png) no-repeat center center / contain;
                }
              }
            }
          }
        }

        .field-name-field-category {
          display: inline-block;
          vertical-align: middle;

          .field-item {
            overflow: hidden;
            width: 24px;
            height: 24px;
            text-indent: 100%;
            white-space: nowrap;

            &.category-52 { // mobility
              background: url(../images/icon-ferien-white.png) no-repeat center center / contain;
            }
            &.category-53 { // heat
              background: url(../images/icon-dusche-white.png) no-repeat center center / contain;
            }
            &.category-54 { // food
              background: url(../images/icon-cervelat-white.png) no-repeat center center / contain;
            }
            &.category-56 { // tecPost
              background: url(../images/icon-bulb-white.png) no-repeat center center / contain;
            }
          }
        }
      }
    }
  }

  //
  // Full mode post
  //
  &.view-mode-full {
    div.row {
      div.col-sm-12 {
        .field-name-field-your-name {
          .field-item {
            @media @narrow {
              font-size: 18px;
            }
          }
        }

        .quote-wrapper {
          @media @narrow {
            font-size: 25px;
          }
        }

        .group-icons {
          @media @narrow {
            font-size: 22px;

            .field-name-rate-integration-1 {
              .field-item{
                .rate-widget {
                  .rate-thumbs-up-btn-up {
                    width: 30px;
                    height: 30px;
                  }
                }
              }
            }

            .field-name-field-category {
              .field-item {
                width: 30px;
                height: 30px;
              }
            }
          }

        }
      }
    }
  }
}

