/*
 *  Node post component
 * --------------------------------------------------*/

// Variables
// -------------------------
@pxl-text-color-back: #fff;
@pxl-name-field-bg-color-left: @pxl-color-main;
@pxl-name-field-bg-color-right: @pxl-color-main;
@pxl-name-field-color: #fff;

@start-text-area: (100%/1.4);


// Mixins
// -------------------------


// General settings
// -------------------------
//
// full mode wrappers implemented in template
.node-post-page-wrapper {
  margin: 50px 0;
  width: 100%;

  .node-post-header {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

    .post-title {
      margin-bottom: 10px;
      font-family: @pxl-text-font-bold;
      font-size: 30px;
      color: @text-color;
      line-height: 1.1;
      text-align: center;
    }

    .post-heading {
      margin-bottom: 10px;
      font-family: @pxl-text-font;
      font-size: 17px;
      color: @text-color;
      line-height: 1.1;
      text-align: center;
    }

    .social-buttons {
      margin-bottom: 20px;
      text-align: center;

      .shariff {
        display: inline-block;
        .shariff();

        ul.orientation-horizontal {
          li.shariff-button {
            width: 60px;
            height: auto;
          }


        }
      }
    }

  }

  .node-post-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

}


//
// Node Post
.node.node-post {
  position: relative;
  margin: 0;
  padding-bottom: 140%;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: white;

  div.row {
    margin: 0;

    div.col-sm-12 {
      position:static;
      padding: 0;

      .field-name-field-image {
        img {
          width: 100%;
          height: auto;
        }
      }

      .field-name-field-your-name {
        position: absolute;
        bottom: 3%;
        right: @grid-gutter-width/2;
        padding: 0;

        .field-item {
          width: auto;
          font-family: @pxl-text-font-light;
          #pxl-mixins.font-size-responsive(14px, 12px);
          letter-spacing: 1px;
          line-height: 1.1;
          color: @text-color;
          white-space: nowrap;

          @media @mobile {
            font-size: 4vw;
          }
          @media @tablet {
            font-size: 12px;
          }
          @media @normal {
            font-size: 14px;
          }
          @media @wide {
            font-size: 16px;
          }
        }
      }

      .quote-wrapper {
        position: absolute;
        overflow: hidden;
        top: 74%;
        left: 5%;
        width: 90%;
        height: auto;
        font-family: @pxl-text-font-bold;
        #pxl-mixins.font-size-responsive(17px, 13px);

        @media @mobile {
          font-size: 4.5vw;
        }
        @media @tablet {
          font-size: 13px;
        }
        @media @normal {
          font-size: 17px;
        }
        @media @wide {
          font-size: 20px;
        }

        .field-name-field-quote {
          display: inline;

          .field-items {
            display: inline;

            .field-item {
              display: inline;
              color: @text-color;
              line-height: 1.1;
              text-align: left;
              #pxl-mixins.hyphenate(auto);
            }
          }
        }

        .post-claim {
          display: inline;
          color: @pxl-color-main;
          line-height: 1.1;
          text-align: left;
        }
      }
    }
  }

  //
  // Full mode post
  //
  &.view-mode-full {
    div.row {
      div.col-sm-12 {
        .field-name-field-your-name {
          .field-item {
            @media @narrow {
              font-size: 18px;
            }
          }
        }

        .quote-wrapper {
          @media @narrow {
            font-size: 25px;
          }
        }
      }
    }
  }
}

