/* --------------------------------------------------
 * Pixelgarage fonts
 * --------------------------------------------------*/
//

//
// Awesome icon font
@import '../fonts/font-awesome/less/font-awesome';
@fa-font-path: '@{pxl-font-path}/font-awesome/fonts'; // override fa font path (lazy loading)

//
// Define customer specific fonts
@pxl-font-path: '../fonts';
@pxl-bs-path: '../bootstrap';

// icon font
@pxl-icon-font: 'fontawesome';

// title font
@pxl-title-font: 'MuseoSans_900', sans-serif;

// text fonts
@pxl-text-font: 'MuseoSans_700', sans-serif;
@pxl-text-font-light: 'MuseoSans_300', sans-serif;
@pxl-text-font-medium: 'MuseoSans_700', sans-serif;
@pxl-text-font-bold: 'MuseoSans_900', sans-serif;
@pxl-text-font-italic: 'MuseoSans_700', sans-serif;
@pxl-text-font-light-italic: 'MuseoSans_300', sans-serif;
@pxl-text-font-bold-italics: 'MuseoSans_900_Italic', sans-serif;

// handwriter font
@pxl-text-font-handwriter: 'Pacifico', cursive;

// monospace font
@pxl-text-font-mono: 'Courier', monospace;

// form font
@pxl-form-font: @pxl-text-font;

// overrides
@font-family-base: @pxl-text-font;

//
// font faces
//
@font-face {
  font-family: 'MuseoSans_300';
  src: url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.eot');
  src: url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.eot') format('embedded-opentype'),
  url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.woff2') format('woff2'),
  url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.woff') format('woff'),
  url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.ttf') format('truetype'),
  url('@{pxl-font-path}/MuseoSans_300/MuseoSans_300.svg#MuseoSans_300') format('svg');
}
@font-face {
  font-family: 'MuseoSans_700';
  src: url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.eot');
  src: url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.eot') format('embedded-opentype'),
  url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.woff2') format('woff2'),
  url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.woff') format('woff'),
  url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.ttf') format('truetype'),
  url('@{pxl-font-path}/MuseoSans_700/MuseoSans_700.svg#MuseoSans_700') format('svg');
}
@font-face {
  font-family: 'MuseoSans_900';
  src: url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.eot');
  src: url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.eot') format('embedded-opentype'),
  url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.woff2') format('woff2'),
  url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.woff') format('woff'),
  url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.ttf') format('truetype'),
  url('@{pxl-font-path}/MuseoSans_900/MuseoSans_900.svg#MuseoSans_900') format('svg');
}
@font-face {
  font-family: 'MuseoSans_900_Italic';
  src: url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.eot');
  src: url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.eot') format('embedded-opentype'),
  url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.woff2') format('woff2'),
  url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.woff') format('woff'),
  url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.ttf') format('truetype'),
  url('@{pxl-font-path}/MuseoSans_900_Italic/MuseoSans_900_Italic.svg#MuseoSans_900_Italic') format('svg');
}
@font-face {
  font-family: 'Pacifico';
  src: url('@{pxl-font-path}/Pacifico/Pacifico.eot');
  src: url('@{pxl-font-path}/Pacifico/Pacifico.eot') format('embedded-opentype'),
  url('@{pxl-font-path}/Pacifico/Pacifico.woff2') format('woff2'),
  url('@{pxl-font-path}/Pacifico/Pacifico.woff') format('woff'),
  url('@{pxl-font-path}/Pacifico/Pacifico.ttf') format('truetype'),
  url('@{pxl-font-path}/Pacifico/Pacifico.svg#Pacifico') format('svg');
}
