/* --------------------------------------------------
 * Pixelgarage fonts
 * --------------------------------------------------*/
// Google font
@import 'https://fonts.googleapis.com/css?family=Catamaran:300,800';

//
// Awesome icon font
@import '../fonts/font-awesome/less/font-awesome';
@fa-font-path: '@{pxl-font-path}/font-awesome/fonts'; // override fa font path (lazy loading)

//
// Define customer specific fonts
@pxl-font-path: '../fonts';
@pxl-bs-path: '../bootstrap';

// icon font
@pxl-icon-font: 'fontawesome';

// title font
@pxl-title-font: 'Catamaran-ExtraBold', sans-serif;

// text fonts
@pxl-text-font: 'Catamaran-ExtraBold', sans-serif;
@pxl-text-font-light: 'Catamaran-Light', sans-serif;
@pxl-text-font-medium: 'Catamaran-ExtraBold', sans-serif;
@pxl-text-font-bold: 'Catamaran-ExtraBold', sans-serif;
@pxl-text-font-italic: 'Catamaran-ExtraBold', sans-serif;
@pxl-text-font-light-italic: 'Catamaran-Light', sans-serif;
@pxl-text-font-bold-italics: 'Catamaran-ExtraBold', sans-serif;

// handwriter font
@pxl-text-font-handwriter: cursive;

// monospace font
@pxl-text-font-mono: 'Courier', monospace;

// form font
@pxl-form-font: @pxl-text-font;

// overrides
@font-family-base: @pxl-text-font;

//
// font faces
//
